/* Reset dasar */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
}

header {
  background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
  color: white;
  text-align: center;
  padding: 1em 0;
}

main {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.profile {
  flex: 1;
  min-width: 300px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.profile img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.profile .follow-button {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.profile .instagram-posts {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
}

.profile .instagram-posts img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}

footer {
  text-align: center;
  padding: 10px 0;
  background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
  color: white;
}
